<header class='header is-medium'>
  <div class='container'>
    <div class='brand'>
      <h1 class='title'>Chiffon The Maltipoo</h1>
      <h2 class='subtitle'>
        Charlotte Chiffon: A dancer and fashion model
      </h2>
      <div class='icons'>
        <a href='https://www.instagram.com/chiffonthemaltipoo' rel='noreferrer noopener'>
          <i class='fab fa-instagram'></i>
        </a>
        <a href='https://vm.tiktok.com/ZMJqSoU9R/' rel='noreferrer noopener' target='_blank'>
          <i class='fab fa-tiktok'></i>
        </a>
        <a href='https://www.facebook.com/chiffonthemaltipoo' rel='noreferrer noopener' target='_blank'>
          <i class='fab fa-facebook'></i>
        </a>
        <a href='mailto:chiffonthemaltipoo@gmail.com' rel='noreferrer noopener' target='_blank'>
          <i class='far fa-envelope'></i>
        </a>
        <a href='https://www.youtube.com/channel/UCzgbIrAU9Tru2Yu7RBaNpVw' rel='noreferrer noopener' target='_blank'>
          <i class='fab fa-youtube'></i>
        </a>
      </div>
    </div>
    <div class='swiper'>
      <div class='swiper-wrapper'>
        <div class='swiper-slide'>
          <img src='photos/chiffon1.jpg' alt='chiffon1' />
        </div>
        <div class='swiper-slide'>
          <img src='photos/chiffon2.jpg' alt='chiffon2' />
        </div>
        <div class='swiper-slide'>
          <img src='photos/chiffon3.jpg' alt='chiffon3' />
        </div>
        <div class='swiper-slide'>
          <img src='photos/chiffon5.jpg' alt='chiffon5' />
        </div>
        <div class='swiper-slide'>
          <img src='photos/chiffon6.jpg' alt='chiffon6' />
        </div>
        <div class='swiper-slide'>
          <img src='photos/chiffon7.jpg' alt='chiffon7' />
        </div>
        <div class='swiper-slide'>
          <img src='photos/chiffon8.jpg' alt='chiffon8' />
        </div>
        <div class='swiper-slide'>
          <img src='photos/chiffon9.jpg' alt='chiffon9' />
        </div>
      </div>
    </div>
  </div>
</header>