<nav class='nav navbar' aria-label='main navigation'>
  <div class='navbar-menu container'>
    <div class='navbar-start'>
      <div class='navbar-item'>
        <i class='icon fas fa-paw'></i>
        <LinkTo @route='index'>Home</LinkTo>
      </div>
      <div class='navbar-item'>
        <i class='icon fas fa-paw'></i>
        <LinkTo @route='shop'>Favorite Shops</LinkTo>
      </div>
      <div class='navbar-item'>
        <i class='icon fas fa-paw'></i>
        <a target='_blank' rel='noopener noreferrer' href='https://www.redbubble.com/people/chiffonmaltipoo/shop?asc=u'>
          My Store
        </a>
      </div>
    </div>
  </div>
</nav>