<div class='coupon'>
  <div class='tooltip'>
    <span class='tooltip_text' id='myTooltip'>
      {{this.clipboardText}}
    </span>
  </div>

  <button type='button' {{on 'click' this.copy}} {{on 'mouseout' this.mouseout}} class='button is-ghost'>
    <span class='icon'>
      <i class='far fa-clipboard'></i>
    </span>
  </button>
  <label>
    <input readonly value={{@code}} />
  </label>
</div>